/* #main {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

#player-section {
  width: 300px;
  flex-shrink: 0;
}

#selected {
  flex: 1;
} */

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

#player-selection {
  flex: 1;
  max-width: 50%;
}

#selected {
  flex: 1;
  max-width: 50%;
  border-left: 2px;
  padding-left: 20px;
}

.player-item img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  flex-shrink: 1;
  object-fit: contain;
}

#selected img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

#selected h2 {
  margin-top: 0;
}

.player-actions {
  margin-top: 10px;
}
